:root {
  --black-color: #000022;
  --background-color: #E8E6F0;
  --pink-color: #FC2865;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
}


.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border: 0.2em solid var(--black-color);
  border-radius: 0.25em;
  margin: 1em;
  padding: 1em;
  box-shadow: 0.3em 0.3em 0 black;
}

.navbar h1 {
  font-family: "Fira Code", monospace;
  margin: 0.2em 0;
  text-align: center;
}

.navbar h2 {
  margin: 0.2em 0 1em 0;
  text-align: center;
}

/* Botones debajo del título */

.botonera {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.navbar-page {
  position: relative;
  text-decoration: none;
  padding: 0.5em 1em;
  font-weight: 600;
  font-size: 1rem;
  color: var(--black-color);
  border: 0.15em solid var(--black-color);
  border-radius: 0.3em;
  background-color: var(--background-color);
  transition: background-color 0.3s ease;
}

.navbar-page:hover {
  background-color: var(--pink-color);
  color: white;
}

.navbar-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175em;
  background: var(--black-color);
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.navbar-page:hover::after {
  transform: scale(1, 1);
}


/* Estadísticas */
.contenedor-graficos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 2em;
}

.grafico-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1em;
  max-width: 600px;
  text-align: center;
}

.grafico-card h3 {
  margin-bottom: 1em;
  font-size: 1.2em;
  color: var(--black-color);
}

.grafico-card img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
