
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.thumbnail, .gallery-thumbnail {
    max-width: 150px;
    height: auto;
    cursor: pointer;
    border-radius: 6px;
  }